.content{
  grid-row: 2/3;
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.todoForm{
  grid-row: 1/2;
  grid-column: 2/12;
  justify-self: center;
}
.todoList{
  
  grid-row: 2/3;
  grid-column: 1/13;
  justify-self: center;
}
li{
  list-style: none;
}
.submitButton{
  border: none;
  background-color:lightblue;
  border-radius: 5px;
  margin-top: 10px;
}
.submitButton:hover{
  cursor: pointer;
}
.checkbox:hover{
cursor: pointer;
}